<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand">Profile Form</a>
</nav>
<div class="card">
	<div class="card-body">
		<div class="card-title">
			<div class="title d-flex justify-content-between">
				<span>
					Basic Information
				</span>
				<span class="required-container">
					<i class="fa fa-asterisk required-icon"></i>&nbsp;Required
				</span>
			</div>
		</div>

		<form
			class="ng-pristine ng-invalid ng-invalid-required"
			name="infoForm"
			novalidate
		>
			<div class="form-group">
				<label for="first-name">
					First Name
					<i class="fa fa-asterisk required-icon"></i>
				</label>
				<input
					type="text"
					name="firstName"
					class="form-control"
					id="first-name"
					ng-model="basicInformation.firstName"
					ng-change="basicInformation.changeFirstName(this);"
					required
				/>
				<div
					class="field-message"
					ng-messages="infoForm.firstName.$error"
					ng-if="infoForm.firstName.$dirty"
					ng-cloak
				>
					<div ng-message="required">
						First name is required.
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="last-name">
					Last Name
					<i class="fa fa-asterisk required-icon"></i>
				</label>
				<input
					type="text"
					class="form-control"
					name="lastName"
					id="last-name"
					ng-model="basicInformation.lastName"
					ng-change="basicInformation.changeLastName(this);"
					required
				/>
				<div
					class="field-message"
					ng-messages="infoForm.lastName.$error"
					ng-if="infoForm.lastName.$dirty"
					ng-cloak
				>
					<div ng-message="required">
						Last name is required.
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="dob">
					Date of Birth
					<i class="fa fa-asterisk fa-xs required-icon"></i>
				</label>
				<input
					type="date"
					class="form-control"
					id="dob"
					name="dob"
					ng-model="basicInformation.dateOfBirth"
					ng-change="basicInformation.changeDateOfBirth(this);"
					required
				/>
				<div
					class="field-message"
					ng-messages="infoForm.dob.$error"
					ng-if="infoForm.dob.$dirty"
					ng-cloak
				>
					<div ng-message="required">
						Date of birth is required.
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="gender">
					Gender
					<i class="fa fa-asterisk required-icon"></i>
				</label>
				<select
					id="gender"
					name="gender"
					class="custom-select custom-select-sm mb-0"
					ng-model="basicInformation.gender"
					ng-change="basicInformation.changeGender(this)"
					required
				>
					<option></option>
					<option>Male</option>
					<option>Female</option>
				</select>
				<div
					class="field-message"
					ng-messages="infoForm.gender.$error"
					ng-if="infoForm.gender.$dirty"
					ng-cloak
				>
					<div ng-message="required">
						Gender is required.
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="location">
					Location
					<i class="fa fa-asterisk required-icon"></i>
				</label>
				<input
					type="text"
					class="form-control"
					id="location"
					name="location"
					ng-model="basicInformation.location"
					ng-change="basicInformation.changeLocation(this)"
					required
				/>
				<div
					class="field-message"
					ng-messages="infoForm.location.$error"
					ng-if="infoForm.location.$dirty"
					ng-cloak
				>
					<div ng-message="required">
						Location is required.
					</div>
				</div>
			</div>
			<button
				ng-disabled="infoForm.$invalid"
				ng-click="basicInformation.saveAndNext();"
				type="button"
				class="btn btn-outline-primary my-2 my-sm-0"
			>
				Save and Next
			</button>
		</form>
	</div>
</div>
