<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand">Profile Form - Basic Information</a>
</nav>
<div class="card">
	<div class="card-body">
		<h4 class="card-title">Basic Information</h4>
		<form class="needs-validation" novalidate>
			<div class="form-group">
				<label for="first-name">First Name</label>
				<input
					type="text"
					class="form-control"
					id="first-name"
					ng-model="basicInformation.firstName"
					ng-change="basicInformation.changeFirstName(this);"
					required
				/>
				<div class="invalid-feedback">
					Please input first name.
				</div>
			</div>
			<div class="form-group">
				<label for="last-name">Last Name</label>
				<input
					type="text"
					class="form-control"
					id="last-name"
					ng-model="basicInformation.lastName"
					ng-change="basicInformation.changeLastName(this);"
					required
				/>
				<div class="invalid-feedback">
					Please input last name.
				</div>
			</div>
			<div class="form-group">
				<label for="dob">Date of Birth</label>
				<input
					type="date"
					class="form-control"
					id="dob"
					ng-model="basicInformation.dateOfBirth"
					ng-change="basicInformation.changeDateOfBirth(this);"
					required
				/>
				<div class="invalid-feedback">
					Please input date of birth.
				</div>
			</div>

			<div class="form-group">
				<label for="gender">Gender</label>
				<select
					id="gender"
					class="custom-select custom-select-sm mb-0"
					ng-model="basicInformation.gender"
					ng-change="basicInformation.changeGender(this)"
					required
				>
					<option></option>
					<option>Male</option>
					<option>Female</option>
				</select>
				<div class="invalid-feedback">
					Please select gender.
				</div>
			</div>
			<div class="form-group">
				<label for="location">Location</label>
				<input
					type="text"
					class="form-control"
					id="location"
					ng-model="basicInformation.location"
					ng-change="basicInformation.changeLocation(this)"
					required
				/>
				<div class="invalid-feedback">
					Please select location.
				</div>
			</div>
			<button
				ng-click="basicInformation.saveAndNext();"
				type="button"
				class="btn btn-outline-primary my-2 my-sm-0"
			>
				Save and Next
			</button>
		</form>
	</div>
</div>
