<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand">Profile Form - Summary</a>
</nav>

<div>
	<div class="card my-1">
		<div class="card-body">
			<form>
				<div class="form-group">
					<label for="first-name">First Name</label>
					<input
						type="text"
						class="form-control"
						id="first-name"
						disabled
						ng-model="summary.firstName"
					/>
				</div>
				<div class="form-group">
					<label for="last-name">Last Name</label>
					<input
						type="text"
						class="form-control"
						id="last-name"
						disabled
						ng-model="summary.lastName"
					/>
				</div>
				<div class="form-group">
					<label for="dob">Date of Birth</label>
					<input
						type="date"
						class="form-control"
						id="dob"
						ng-model="summary.dateOfBirth"
						disabled
					/>
				</div>
				<div class="form-group">
					<label for="gender">Gender</label>
					<select
						id="gender"
						class="custom-select custom-select-sm mb-3"
						ng-model="summary.selectedGender"
						disabled
					>
						<option>Please choose</option>
						<option>Male</option>
						<option>Female</option>
					</select>
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input
						type="text"
						class="form-control"
						id="location"
						ng-model="summary.location"
						disabled
					/>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea
						class="form-control"
						id="description"
						ng-model="summary.description"
						rows="5"
						disabled
					></textarea>
					<small id="descriptionHelp" class="form-text text-muted"
						>Maximum 255 characters</small
					>
				</div>
				<div class="form-group">
					<label for="association">Association</label>
					<input
						type="text"
						class="form-control"
						id="association"
						ng-model="summary.selectedAssociation"
						disabled
					/>
				</div>
				<div class="form-group">
					<label for="team">Teams</label>
					<input
						type="text"
						class="form-control"
						id="team"
						ng-model="summary.selectedTeam"
						disabled
					/>
				</div>
				<div style="text-align: right;">
					<span>
						<button
							type="button"
							class="btn btn-danger my-2 my-sm-0"
							ng-click="summary.toProfileList();"
						>
							Cancel
						</button>
					</span>
					<span>
						<button
							type="button"
							class="btn btn-primary my-2 my-sm-0"
							ng-click="summary.saveProfile();"
						>
							Submit
						</button>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>
