.ng-dirty.ng-invalid {
	border-color: #e9322d;
}

.field-message {
	color: #e9322d;
	font-size: 0.8rem;
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.title {
	font-size: 2rem;
	margin: 0 0 0 0;
}
.required-container {
	font-size: 0.8rem;
	text-align: right;
	line-height: 4.5;
}

.required-icon {
	font-size: 0.7rem;
	color: #e9322d;
}
